.bg-image-gradient {
  /* fundo da app */

  background: rgb(217, 235, 17);
  background: linear-gradient(
    180deg,
    rgba(217, 235, 17, 0.3) 0%,
    rgba(0, 168, 135, 100) 100%
  );
  background-size: cover;
}

.active {
  background-color: white;
}

.section-objetivo-background {
  background: rgba(108, 202, 152, 0.06);
}
