$primary: #6CCA98;
// Import all of Bootstrap's CSS
@import "~bootstrap/scss/bootstrap";
// Required
@import "~bootstrap/scss/functions";

// Required
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/maps";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/root";

// 6. Optionally include any other parts as needed
@import "../node_modules/bootstrap/scss/utilities";
@import "../node_modules/bootstrap/scss/reboot";
@import "../node_modules/bootstrap/scss/type";
@import "../node_modules/bootstrap/scss/images";
@import "../node_modules/bootstrap/scss/containers";
@import "../node_modules/bootstrap/scss/grid";
@import "../node_modules/bootstrap/scss/helpers";


// sass para o menu
.dflex{
  display:flex;
  justify-content: center;
  align-items: center;
  width:100%;
}
//content_wrapper
.content_wrapper{
  width:80%;
  margin:0 auto;
  @extend .dflex;
  justify-content: space-between;
  align-items: center;
  clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
  border-radius: 16px;
  padding:3%;
  .left_content_wrapper{
    width:48%;
    h1{
      font-size:3.3vw;
      font-weight: 600;
      line-height: 1.3;
      overflow: hidden;
      span{
        display: inline-block;  
        span.second{
          margin-left:10px;
        }      
      }
    }
    p{
      font-size:1.02vw;
      color:#333;
      margin:20px 0 30px 0;
    }
  }
}